<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Whatsapp PETICIONES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="logo-row">
      <ion-row>
          <ion-col text-center >
              <ion-button
              color="warning"
              expand="block"
              onclick="window.open('https://api.whatsapp.com/send?phone=593984703346&text=Me%20interesa%20saber%20mas%20sobre%20este%20producto.','_system','location=yes')"
              ><ion-icon name="cart-outline"></ion-icon>VENTAS</ion-button
            >
            <hr>
            <ion-button
              color="success"
              expand="block"
              onclick="window.open('https://api.whatsapp.com/send?phone=593984703346&text=Necesito%20ayuda%20con%20la%20aplicaci%C3%B3n','_system','location=yes')"
              ><ion-icon name="build-outline"></ion-icon>SOPORTE TÉCNICO</ion-button
            >
            <hr>
            <ion-button
              color="light"
              expand="block"
              onclick="window.open('https://api.whatsapp.com/send?phone=593984703346&text=Quiero%20Crear%20una%20cuenta%20free%20la%20','_system','location=yes')"
              ><ion-icon name="wallet-outline"></ion-icon>PLAN FREE</ion-button
            >
            <hr>
            <ion-button
              color="medium"
              expand="block"
              onclick="window.open('https://api.whatsapp.com/send?phone=593984703346&text=Quiero%20Crear%20una%20cuenta%20premiun%20la%20','_system','location=yes')"
              ><ion-icon name="wallet-outline"></ion-icon>PLAN PREMIUN</ion-button
            >
            <hr>
            <ion-button
              color="dark"
              expand="block"
              onclick="window.open('https://api.whatsapp.com/send?phone=593984703346&text=Quiero%20Crear%20una%20cuenta%20golden%20la%20','_system','location=yes')"
              ><ion-icon name="wallet-outline"></ion-icon>PLAN GOLDEN</ion-button
            >
          </ion-col>
        </ion-row>
    
  </div>
</ion-content>
